@(formUsuario : Form[Usuario])

@inicio.main("Novo Usuario"){
    <style>
        body{
        padding-top: 50px;
        }
        .starter-template {
        padding: 40px 15px;
        text-align: center;
        }
    </style>
        @helper.form(action=routes.UsuarioController.salvarUsuario(), 'id -> "formUsuario"){
        <form class="form-horizontal">
            <fieldset>
                <legend>Novo Usuario</legend>
                <div class="control-group">
                    <div class="controls">
                        @helper.inputText(formUsuario("nomeUsuario"), '_label -> "Nome", 'placeholder -> "Seu Nome")
                    </div>
                    <div class="controls">
                        @helper.inputText(formUsuario("emailUsuario"), '_label -> "Email", 'type -> "email", 'placeholder -> "Seu E-mail")
                    </div>
                </div>
                }
                <div class="control-group">
                    <label class="control-label" for="singlebutton"></label>
                    <div class="controls">
                        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Gravar</button>
                    </div>
                </div>
        </form>
    </div>

}