@(livros: List[Livros])

@main("Vote no Livro"){
<title>Vote no Livro</title>
<link href='@routes.Assets.at("bootstrap/css/bootstrap.min.css")' rel="stylesheet" media="screen">

<style>
    body{
    padding-top: 50px;
    }
    .starter-template {
    padding: 40px 15px;
    text-align: center;
    }
</style>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
            </button>
            <a class="navbar-brand" href="/">Vote no Livro</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/sobre">Sobre o sistema</a></li>
                <li><a href="/play">Sobre o Play Framework</a></li>
                <li><a href="http://getbootstrap.com/">Sobre o Bootstrap</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="starter-template">
        <h1>Vote no Livro</h1>
        <p class="lead">Vote no seu livro preferido.</p>
        <table class="table table-striped table-bordered" id="example" cellpadding="0" cellspacing="0" border="0" width="100%">
            <tfoot>
            @for(livro <- livros) {
            <tr>
                <th><a href="@routes.Livro.list()">@livro.titulo</a></th>
            </tr>
            }
            </tfoot>
        </table>

    </div>
</div>
}